.form {
	width:90%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center; 
	background-color: #D6D6D6;
}
.main_one {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.buttoncss {
	color:red;
	text-shadow: 5;
}
.labela {
	width: 60px;
}
.mainn {
	margin-bottom: 20px;
}
.forma {
	padding: 10px;
	margin:10px;
	width:200px;
	background-color: #DFDFDF;
	font-family: Georgia;
}
.form {
	padding: 2px;
}
.button_main {
	margin-top: 10px;
	padding: 5px;
}
.p_div {
font-family: Georgia;
}